---
---

@import 'bootstrap/bootstrap';

body {
  font-family: $body-font;
  color: $black-primary;
}

.wrapper {
  background-image: url('/assets/paper_texture.jpg');
  min-height: 100vh;
  padding-bottom: 30px;
  //overrides
  a {
    color: $red-primary;
    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
}

#header {
  .nav {
    height: 100px;
    align-items: center;
    a {
      font-family: $heading-font;
      text-transform: uppercase;
      font-size: 22px;
    }
  }
}

#about {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .splash {
    padding: 0 0 30px 0;
    &__image {
      height: 300px;
      width: 300px;
      border-radius: 150px;
      margin-bottom: 30px;
    }
    &__name {
      font-family: $heading-font;
      text-transform: uppercase;
      color: $red-primary;
    }
    &__description {
      font-family: $body-font;
      max-width: 460px;
    }
    &__location {
      font-family: $body-font;
      span {
        margin: 0 0 0 3px;
      }
      svg {
        path {
          fill: $red-primary
        }
      }
    }
  }
}

#contact {
  .mail-icon {
    margin-top: 10px;
    h1 {
      text-align: center;
      font-size: 100px;
    }
  }
  .blurb {
    text-align: center;
  }
}

#form {
  label {
    text-transform: uppercase;
    font-family: $heading-font;
    color: $red-primary;
    font-size: 20px;
  }
  input::placeholder {
    color: #D3D3D3;
    font-weight: normal;
  }
  .btn-primary {
    text-transform: uppercase;
    font-family: $heading-font;
  }
}

#blog {
  .blurb {
    margin-top: 10px;
    h1, p {
      text-align: center;
    }
    h1 {
      font-size: 100px;
    }
  }
  .posts {
    .card {
      background-color: rgba(255, 255, 255, 0.8);
      margin-bottom: 15px;
      .card-title {
        font-family: $heading-font;
        text-transform: uppercase;
        color: $red-primary;
      }
      .card-subtitle {
        font-weight: 400;
        font-size: 0.875em;
      }
    }
  }
}

#post, #projects {
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: $heading-font;
    color: $red-primary;
  }
}

#disqus_thread {
  background-color: white;
}

#projects {
  .blurb {
    text-align: center;
  }
  .fa-th {
    font-size: 60px;
    margin-bottom: 20px;
    path {
      color: $red-primary;
    }
  }
  .tiles {
    text-align: center;
    .col {
      max-width: 768px;
      margin: auto;
    }
    .card {
      margin-bottom: 20px;
      background-color: black;
      border: none;
    }
    a {
      text-decoration: none;
    }
    .card-title {
      text-transform: uppercase;
      font-family: $heading-font;
    }
    .card-body {
      background-color: white;
    }
    .card-img-top {
      background-color: black;
      opacity: 0.6;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .card-text {
      color: $black-primary;
    }

  }
}